/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.dinner p {margin: 2px ; }
.dinner .ingredients h5, .dinner .description h5 {font-weight: bold; text-decoration: underline;}
.dinner .section .ingredients{padding-top: 4px; font-style: italic;}
.dinner .section .ingredients .section {font-weight: bold}
.dinner .section h2 {text-align: center; font-style: italic;}
.dinner .ingredients .ingredient {padding-left: 4px;}
.dinner .recipe h3 {width: 100%; background-color: #EDEDED; margin-bottom: 5px;}
.dinner .recipe .subtitle {font-style: italic; margin: 0 0 10px 10px;}
.dinner .recipe .navigation {float: right;}
/*.dinner .recipe {border: 1px solid grey;}*/
.dinner .recipe .ingredients,  .dinner .recipe .description{  padding: 0 15px;}
/*.dinner .recipe .description{width: 50%;}*/

.shoppinglist .ingredients{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  -ms-column-count:2; /* Safari and Chrome */
  column-count:2;
}

.shoppinglist .ingredients .category{font-weight: bold; text-decoration: underline;}
.shoppinglist .ingredients .ingredient{margin: 0 0 2px 4px;}

@media print{
  /*p {font-size: 0.5em ;}*/
  body {font-size: 9pt;}
  /*.dinner {display: none;}*/
}
