<div class="dinner">
    <h1>Recepten</h1>
    <h3>{{data.menu.name}}</h3>
    <p>Aantal personen:</p>
    <input type="text" ng-model="data.menu.persons"/>

    <div class="section" ng-repeat="section in data.menu.sections">
        <h2>{{section.name}}</h2>
        <div class="recipe" ng-repeat="recipe in section.recipes">
            <h3>{{recipe.name}}</h3>
            <div class="ingredients">
                <h5>Ingredienten</h5>
                <div ng-repeat="section in recipe.ingredients">
                    <p class="section" ng-hide="section.section == 'main'">{{section.section}}</p>
                    <p class="ingredient" ng-repeat="ingredient in section.contents">{{ingredient | readableIngredient:recipe:data}}</p>
                </div>
            </div>
            <div class="description" >
                <h5>Uitleg</h5>
                <ol>
                    <li ng-repeat="description in recipe.description">{{description}}</li>
                </ol>
            </div>
            <hr/>
        </div>
    </div>
</div>